<header class="header">
    <div class="header-empresa">
        <img src="/img/logo.ico" class="logo" alt="logo">
        <h1>FPRJ</h1>
    </div>
    <nav class="menu">
        <ul class="menu-items">
            <li><a href="/academias">Academias</a></li>
            <li><a href="/atletas">Atletas</a></li>
            <li><a href="/exames">Exames</a></li>
            <li><a href="/admin">Usuários</a></li>
        </ul>
    </nav>
</header>
<main>

</main>