* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    /*background: url('/img/fundo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    /*-moz-background-size: cover;    /* Mozilla*/
    /*-o-background-size: cover;      /* Opera*/
    /*background-size: cover;         /* Generic*/
    background: rgb(241, 240, 240);
    background-position: 250px 0;
    z-index: 0;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 60px auto;
    grid-template-areas: "cab cab"
                         "aside main";
                        }

                        header {
                            position: fixed;
                            background: #22242A;
                            padding: 20px;
                            width: 100%;
    height: 60px;
    z-index: 1;
    grid-area: cab;
    display: flex;
    justify-content: space-between; 
}

.center_area h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
}

.center_area span {
    font-size: 20px;
    color: #1DC4E7;
}

.home_btn {
    color: white;
    text-decoration: none;
}

.logout_btn {
    display: block;
    text-align: center;
    color: #1DC4E7;
    text-decoration: none;
}

.logout_btn h4 {
    font-size: .8rem;
    font-weight: 700;
}
.sidebar{
    background: #2F323A;
    margin-top: 60px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: 100%;
    z-index: 1;
    grid-area: aside;
}

.sidebar .logo {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.sidebar h4 {
    color: #ccc;
    margin-top: 0;
    margin-bottom: 20px;
} 

.main {
    position: relative;
    padding: 1rem 1rem; 
    width: 100%;
    background: rgb(241, 240, 240);
    z-index: 0;
    grid-area: main;
}

.item label::after {
    content: "+";
    color: white;
    font-weight: 900;
    float: right;
    transition: transform .3s ease;
}

.item label {
    display: block;
    padding: 1rem;
    background-color: #2F323A;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    border-bottom: 1px solid rgb(75, 74, 74);
}

.item label i {
    font-size: .8rem;
}

 .item label:hover { 
    background-color: #1DC4E7;
    color: black;
}


.item ul {
    width: 100%;
    list-style: none;
    overflow: hidden;
    max-height: 0;
    transition: all .4s linear;
}

.item input {
    display: none;
}

.item ul li a {
    width: 100%;
    height: 3rem;
    padding: 1rem 2rem;
    display: block;
    text-decoration: none;
    background-color: #222121;
    color: #fff;
    border-bottom: 1px solid rgb(56, 56, 56);
}

.item ul li a:hover {
    background-color: rgb(16, 231, 45);
    color: #222121;
}

.item i {
    font-size: 16px;
    margin-right: .7rem;
}

.item input:checked ~ ul {
    height: auto;
    max-height: 500px;
    transform: all; 
}

.item input:checked + label::after {
    content: "-";
    transform: rotate(360deg) scale(2);
}