body {
    background-color: #607D8B;
}

.header {
    width: 100vw;
    padding: 1rem; 
    background: #006064;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    margin-left: 5rem;
    font-weight: bold;
    color: #fff;
}


.busca {
    position: relative;
    background: #ffff;
    width: 450px;
    max-width: 450px;
    border-radius: 5px;
    box-shadow: 0 1px 5px 3px rgba(0,0,0,.12);
}

.header i {
    color: rgb(219, 217, 217);
    font-size: 2.5rem;
}

.busca i {
    color: #ccc;
    font-size: 1.8rem;
}

.busca input {
    width: 400px;
    /* padding: 0 20px; */
    border: none;
}

.opcoes {
    width: 100%;
    padding: 2rem;
    background: #ccc;
    display: flex;
    justify-content: space-between;
}

.menu {
    color: #444444;
    align-self: center;
    max-width: 400px;
    display: flex;
}

.menu i {
    font-size: 1.8rem;
    margin-right: 1rem;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 1.5rem 1rem;
}

.menu a:hover {
    background-color: #139bc9;
    font-weight: bold;
    border-radius: 7px;
}

.resultado {
    /* padding: 10px; */
    /* max-height: 400px; */
    /* overflow-y: auto; */
    /* opacity: 0; */
    /* pointer-events: none; */
    /* visibility: hidden; */
    /* display: none; */
}

.active {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    display: block;
}

.resultado {
    max-width: 960px;
    margin: 0 auto;
}
.resultado li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 8px 12px;
    font-size: 18px;
    background-color: white;
    width: 700px;
    cursor: default;
    border-radius: 7px;
    border: 1px solid silver;
    box-shadow: 0 10px 10px rgba(0,0,0,.2);
    margin: 0 0 10px;
}

.resultado li span {
    font-weight: bold;
}

.academia {
    font-style: italic;
    font-size: 1.2rem;
    font-weight: bold;

}
.resultado li:hover {
    background-color: #1DC4FE;
    cursor: pointer;
}

@media (max-width: 720px) {
    .resultado {
        width: 100%;
    }

    .resultado li {
        padding: 0px 5px;
        font-size: 14px;
        background-color: white;
        width: 300px;
        border-radius: 7px;
        border: 1px solid silver;
        box-shadow: 0 10px 10px rgba(0,0,0,.2);
        margin: 0 0 5px;
    }
}