.header {
    width: 100%;
    padding: 1rem 2rem 1rem 0; 
    background: #006064;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 3rem;
    margin-left: 5rem;
    font-weight: bold;
    color: #fff;
}


.header i {
    color: rgb(219, 217, 217);
    font-size: 2.5rem;
}

.header i:hover {
    color: #ccc;
    transform: scaleX(1.5) scaleY(1.5);
    transition: all ease .3s;
}
.wrapper {
    max-width: 450px;
    margin: 150px auto;
}

.wrapper .search-input {
    position: relative;
    background: #ffff;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 1px 5px 3px rgba(0,0,0,.12);
}

.search-input input {
    height: 55px;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 30px 0 30px;
    font-size: 18px;
    /* margin: 0 0 0 0; */
    box-shadow: 0 1px 5px rgba(0,0,0,.1);
}

.search-input .icon {
    width: 55px;
    height: 55px;
    line-height: 55px;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.search-input .autocom-box {
    padding: 0px;
    max-height: 400px;
    overflow-y: auto;
    opacity: 0;
    pointer-events: none;
}

.search-input.active .autocom-box {
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
}

.autocom-box li {
    padding: 8px 12px;
    font-size: 18px;
    width: 100%;
    cursor: default;
    border-radius: 3px;
    display: none;
}

.search-input.active .autocom-box li{
    display:flex;
}

.autocom-box li:hover {
    background: #efefef;
}
.autocom-box a {
    display: flex;
}
body {
    background-color: #607D8B;
}
main {
    min-height: 100vh;
}

.foto {
    width: 70px;
    height: 100px;
}