<header class="header">
    <h2>Atletas</h2>
    <a href="/"><i class="fas fa-home"></i></a>
</header>

<main>
    <div class="wrapper">
        <div class="search-input">
            <input type="text" class="search-txt" spellcheck="false" placeholder="Código/Nome...">
            <div class="autocom-box">
                
            </div>
            <div class="icon"><i class="fa fa-search"></i></div>
        </div>
    </div>
</main>