<header class="header">
    <h2>Atletas</h2>
    <div class="busca">
        <i class="fa fa-search"></i>
        <input type="text" class="search-txt" id="txt-busca" spellcheck="false" placeholder="Código/Nome...">
        <i class="fa fa-times"></i>
    </div>
    <div>
        <label for="buscarAtivos">Ativos</label>
        <input type="checkbox" id="buscarAtivos" value="true">
    </div>
    <div class="menu">
        <a href="atletas/cadastro/novo"><i class="fas fa-user-plus"></i>Cadastrar</a>
        <a href="#"><i class="fas fa-sort-amount-up-alt"></i>Rankiamento</a>
        <a href="/"><i class="fas fa-home"></i>Início</a>
    </div>
</header>

<div class="resultado">
</div>